
.logOut {
    position: absolute;
}

.scan-btn{
    background-color: crimson;
    height: 50px;
    width: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    border: 1px solid black;

    position: absolute;
    right: 10px;

    cursor: pointer;

}


.pick-section {
    width: 100vw;
    height: 100vh;
    background-color: aqua;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pick-panel {
    background-color: rgb(202, 157, 34);
    width: 30%;
    height: min-content;

    border-radius: 2%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.quantity {
    align-self: flex-end;
    font-size: 3rem;
    padding-right: 2rem;
    color: red;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.item-description {
    align-self: flex-start;
    padding-left: 2rem;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.item-code {
    font-size: 6rem;
    color: rgb(0, 93, 9);
    margin-bottom: 3rem;
}

.item-property {
    align-self: flex-start;
    padding-left: 2rem;
    font-size: 2rem;
    margin-bottom: 3rem;
}